/* .space {
  width: 100px;
  height: 100px;
}

.image_link {
  width: 10%;
  /* height: 10%; */
/* } */

/* .card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
} */
/* .sub-card {
  display: grid;
  width: 100%; */
/* grid-template-columns: 3fr 3fr 3fr 3fr; */
/* gap: 20px;
  height: auto;
  grid-column: auto;
  place-items: cenetr;
}
.sub1-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 20px;
} */
