.cart-page {
  display: flex;
  justify-content: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  padding: 10px;

}

.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-y: auto;
  border: 2px solid lightgray;
  border-radius: 12px;
  padding: 10px;
}

.items-container:hover {
  box-shadow: 2px 5px 5px gray;
  transition: ease-in-out;
}

.cart-product-img {
  height: 140px;
  width: 140px;
  padding: 5px;
  object-fit: fill;
  margin-right: 10px;
  border-radius: 20px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  margin-right: 20px;
  text-align: left;
}

.product-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  margin-bottom: 3px;
  margin-left: 20px;
  font-weight: 500;
  font-style: italic;
  width: 200px;
}

.product-description {
  margin-bottom: 10px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #efefef;
  border-radius: 12px;
  box-shadow: 5px 5px grey;
}

.total-price {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.product-qty-container {
  width: 200px;
  margin-right: 10px;
  text-align: left;
}

.emptyCart {
  margin-top: 20px;
  font-weight: bold;
  font-style: "Sans-serif";
}

.contButton {
  margin-top: 20px;
}

.size-selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
}

.price-container p {
  margin-bottom: 0px;
}

.price-container h3 {
  margin-left: 20px;
  font-weight: 700;
}

.price-container span {
  font-style: italic;
}

.price-container h6 {
  font-style: italic;
  text-align: left;
  margin-top: 16px;
}

.coupon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}


.coupon-container select {
  padding: 0.6rem;
  min-width: 200px;
  max-width: 200px;
  border: none;
  border-radius: 12px;
  outline: none;
  background-color: #eee;
  border: 2px solid gray;
  margin-right: 10px;
  margin-bottom: 5px;
}

.cart-page li {
  font-size: 15px;
  color: black;
  line-height: 0.4cm;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}

.products-count-info {
  font-size: 16px;
  font-weight: 600;
}