.card1 {
    margin: auto;
    width: 800px;
    padding: 3rem 3.5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     background-color: #DBDFEA; 
     align-items: center; 

}

.card2{
    margin: auto;
    /* margin-left: 20px; */
    margin-top: 25px;
    width: 800px;
    padding: 3rem 3.5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    background-color: #DBDFEA; 
}


table {
    background-color: white;
    width: 50vw;
    height: 15vh;
    border-radius: 15px;
    /* border-color: black; */
    /* align-items: center; */
}

form .img-fluid {
    width: 45px;
}

payment-btn {
    margin-top: 50vh;
}

p .AddressText {
    line-height: 0.7;
}

.address-container {
    display: flex;
    flex-direction: row;
    text-align: start;
    border: 2px solid black;
    width: 50vw;
    border-radius: 2px;
    margin-bottom: 50px;
}
.addr{
    background-color: white
}
.addressTable2{
    margin-left: 100px;
    width: 40vw;
    text-align: center;
}
.cashClass{
    align-items: center;

}