.forgotPassword {
    text-align: start;
    margin: 0px 25px;
}

.forgotPassword label {
    text-align: left;
    font-weight: 500;
    display: block;
}

.forgotPassword input {
    display: block;
    text-align: left;
    margin: 10px 0px
}