.card-info {
  border-radius: 10px;
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 20px;
  margin-bottom: 0px;
  padding: 3px;
}

.card-info img {
  width: 100px;
  height: 60px;
}

.card-info2 img {
  width: 20rem;
  border-radius: 10px;
  padding: 50px;
  background-color: #abebc6;
}

.card-names {
  color: black;
  font-weight: 500;
}

.carousalClass {
  width: 100%;
  height: 60vh;
  padding: 20px;
}

.carousalImgClass {
  height: 60vh;
  border-radius: 2rem;
}

.item-size {
  padding-right: 2000px;
}

.item-1 {
  margin-top: 20px;
}

.item-2 {
  width: 500px;
  height: 400px;
  margin-top: 50px;
  background-color: grey;
  padding: 10px;
  border-radius: 2rem;
}

.item-3 {
  margin-top: 100px;
  padding: 100px 100px 100px 20px;
  margin-left: 10px;
  line-height: 1.4;
}

.newArrivalGif {
  margin-top: 2rem;
  width: 97%;
  padding: 10px;
  border-radius: 2rem;
  border: 15px;
  background-color: #abebc6;
}

.top-picks {
  padding: 1rem;
  border-radius: 20rem;
  overflow: hidden; 
  position: relative;
}

.image {
  padding: 1rem;
  height : 150px;
  width:  150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.top-picks:hover .image {
  transform: scale(1.1);
}

.names {
  transition: transform 0.3s ease;
  font-size: 0.9rem;
  font-weight: 700;
}

.top-picks:hover .names {
  transform: scale(1.1);
}
