.invoice-container {
    position: relative;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 10px;
}

.invoice-container h3 {
    text-align: center;
    font-style: oblique;
}

.invoice-container h4 {
    text-align: left;
}

.header {
    padding: 10px;
}

.order-status-container span {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-weight: 900;
}

.order-status-container li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.price-containers {
    display: flex;
    justify-content: space-between;

}

.saved-card {
    margin-left: 200px;
}

.saved-card p {
    font-style: italic;
    margin-bottom: 2px;
    font-weight: 800;
}

.saved-card h6 {
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.saved-card span {
    color: darkgreen;
    font-weight: 900;
    font-style: italic;
}

.price-details {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.order-status-container {
    display: flex;
    justify-content: space-between;
}

.price-details li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


.price-details span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: mediumblue;
    font-weight: 600;
}