.invoice-container {
    position: relative;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 10px;
}

.invoice-container h4 {
    text-align: left;
}

.header {
    padding: 10px;
}

.order-status-container span {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}

.price-details {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.order-status-container {
    display: flex;
    justify-content: space-between;
}

.price-details span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}