.addr-form {
    text-align: left;
    max-width: 550px;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid gray;
}
.addr-form input {
    border-radius: 10px;
}
.texted {
    text-align: left;
    font-size: 18px;
    padding: 0px;
}

.btn-container {
    display: flex;
    justify-content: center;
}