.addr-form {
    text-align: left;
    max-width: 550px;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;

}



.texted {
    text-align: left;
    font-size: 18px;
    padding: 0px;
}

.new-address-buttons {
    border: 2px solid #0f0f0f;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;

}