.cards-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #E6E6E6;
    
}

.cards-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    width: 15rem;
}

.cards-tables {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    width: 14rem;
    background-color: #E6E6E6;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(41, 199, 230, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.cards-tables:hover {
    box-shadow: 10px 15px 20px rgba(97, 0, 253, 0.2);
    transform: translateY(-5px);
    border: 0.05rem solid gray;
}

.images {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-info {
    padding: 0.5rem;
    text-align: center;
}

.cards-tables p {
    margin: 5px 0;
}

.price {
    text-align: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}

.cat {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-main{   
    height: 80%; 
    width: 100%;
}

.link {
    text-decoration: none;
    color: black;
    
  }