.product-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px;
}

.product-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.card-images {
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin-bottom: 3px;

}

.card-images:hover {
    border: 1px solid black;
    transform: rotateY('angle');

}



.product-main-image-container {
    margin-left: 10px;

}

.product-main-image {
    width: 450px;
    height: 540px;
    padding: 10px;
    border-radius: 8px;
}

.product-deatails-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;

}

.product-deatails-container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.product-deatails-container p {
    font-size: 16px;
    line-height: 1;
    margin: 5px 0;

}

.product-deatails-container .product-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;

}

.product-deatails-container .product-description {
    max-width: 800px;
    text-align: start;
    margin-bottom: 30px;
}

.product-deatails-container .product-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.product-deatails-container .seller-name{
    margin-top: 20px;

}

.product-deatails-container .suitable-for{
    margin-top : 5px;
    font-style: italic;
}

.size-selector {
    display: inline-block;
    border : 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 10px ;
    cursor: pointer;
}

.size-selector:hover {
    background-color: #f2f2f2;
}

.size-selector.seleted {
    background-color: #007bff;
    color: #fff;
}

.size-selector.seleted:hover {
    background-color: #0069d9;
}

.size-text{
    font-size: 16px;
    font-weight: bold;
}