* {
  box-sizing: border-box;
}


.profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: aliceblue;
  align-items: center;
  flex: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

.profile-img {
  flex: 20%;
  padding: 10px;
}

.username {
  flex: 80%;
  text-align: start;
  align-items: center;
  font-weight: 600;
}

.main-profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #dbdfea;
  /* height: 100vh; */
  background-size: cover;
  flex: 100%;
  padding: 50px 30px;
  width: 100%;
}

.main-profile-left {
  flex: 20%;
  width: 30%;
  padding: 20px;
  position: sticky;
}

.main-profile-right {
  flex: 80%;

}

.profile-categories {
  display: flex;
  flex-direction: column;
  justify-content: left;
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 10px;
}

.main-profile-side {
  display: flex;
  flex-direction: column;
}

.main-profile-right {
  background-color: aliceblue;
  border-radius: 10px;
  margin: 0px 20px;
}

.category {
  text-align: left;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  background: aliceblue;
  border-radius: 16px;
}