* {
    box-sizing: border-box;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: #fefefe;
    
        align-items: center;
    flex: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.profile-img {
    flex: 20%;
    padding: 10px;
}

.username {
    flex: 80%;
    text-align: start;
    align-items: center;
    margin-left: 10px;
        font-weight: 600;
}

.main-profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #DBDFEA;
    flex: 100%;
    padding: 50px 30px;
    width: 100%;
        height: 100%;
        /* flex-wrap: wrap; */
}

.main-profile-left {
    flex: 20%
}

.main-profile-right {
    flex: 80%;
    /* scroll-snap-type: y mandatory; */
}

.profile-categories {
    display: flex;
    flex-direction: column;
    justify-content: left;
    cursor: pointer;
    background-color: #fff;
        border-radius: 10px;
}

.main-profile-side {
    display: flex;
    flex-direction: column;
}

.main-profile-right {
    background-color: #fff;
    border-radius: 10px;
    margin: 0px 20px;
}

.category {
    text-align: left;
    padding: 10px;
    text-decoration: none;
    color: black;
    background: #fefefe;
}
.accounts {

    background-color: bisque;
}