.form-container {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.img-seller {
    height: 90px;
    width: 90px;
    padding: 5px;
    object-fit: fill;
    margin-right: 10px;
    border-radius: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.heading{
    margin-top: 10px;
    font-family: 'sans-serif';
    font-weight: bold;
}   

.paragraph{
    font-weight:bold;
}

.view-image{
    height:95px;
    width:90px;
}

.para{
    text-align: left;
    margin-left: 10px;
}

.horizantal{
    width:100%;
    text-align:left;
}

.add-button{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
